ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* banner */
.book-now-button{
    background-color: white;
    color: #3F87F5;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    line-height: 70px;
}
/* our package section */
.radious-25{
    border-radius: 25px;
}
.hot-product{
    background-color: #3F87F5;
    border-radius: 25px !important;
}
.package-button{
    background-color: #E1C2D5;
    border: 1px solid #E1C2D5;
}
.package-icon{
    background-color: gainsboro;
    border-radius: 50%;
    padding: 3px;
}
/* footer */
.button-footer{
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 10px;
    background-color: black;
    color: white;
}
.button-footer:hover{
    color: white;
}
.flex{
    display: flex;
    align-items: center;
    gap:2px
}
.font-9{
    font-size: 10px;
}
.line-height{
    line-height: 10px;
}
/* Media Query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    /* Banner section */
    .banner-caption{
        font-size: 30px;
        font-weight: 600;
    }
    .banner-img{
        height: 80vh;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    /* Banner section */
    .banner-caption{
        font-size: 48px;
        font-weight: 600;
    }
    .banner-img{
        height: 80vh;
    }
}
